@import "vendor/normalize";
@import "bourbon";
@import "base/base";
@import "neat";
@import "global";

body {
  color: #444;
  @include outer-container;
    article { @include span-columns(12); }
}

article{
  padding: 10px 80px;
  margin: 80px auto;
  background: #FFFFE6;
  border: solid #666;
  border-width: 8px 0 8px 0;

}
