@import "vendor/normalize";
@import "bourbon";
@import "base/base";
@import "neat";
@import "global";

body {
  color: #444;
  @include outer-container;
    article { @include span-columns(12); }
}
header{
  text-align: center;
  h1{
    font-weight: ultra-bold;
    font-size:  1.7em;
    padding: 0px 0px;
    margin: 8px auto;

  }
  h2{
    font-size: 0.9em;
    padding: 0px 0px;
    margin: 5px auto;
  }
  a{
    font-size: 0.9em;
    padding: 0px 0px;
    margin: 5px auto;
  }
}
article{
  padding: 10px 80px;
  margin: 80px auto;
  background: #FFFFE6;
  border: solid #666;
  border-width: 8px 0 8px 0;
  section{
    h4{
      font-size: 0.7em;
      font-weight: 900;
      padding: 0px 0px;
      margin: 0px auto;
    }
    p{
      margin: 0px 0px 4px 12px;

    }
    p.job-description{
      margin: 0px 0px 4px 36px;
    }
  }
  .job-title{
    font-style: italic;
    margin: 0px 0px 0px 12px;
    span{
      font-weight: 700;
    }
  }
  .duration{
    font-style: italic;
    font-size: 0.9em;
    margin: 0px 0px 0px 24px;
  .columns{

  }
  }


}
