---
title: GABE FINCH
---

%article
  %header

    %h1.fadeInDown.animated
      GABE S. FINCH
    %h2
      Javascript & Ruby Engineer ✭ Portland, Oregon
    %h2
      %a{:href => "mailto:gabefinch@gmail.com?Subject=Resume"}
        gabefinch@gmail.com
      %span
        ✭
      %a{:href => "http://www.github.com/gabefinch"}
        github.com/gabefinch
      %hr

  %section
    %h4
      SUMMARY
    %p
      I am a motivated and hard-working Web Developer based in Portland, Oregon. I have experience building test-backed applications in Javascript and Ruby, and I love picking up new languages and frameworks. I came to web development after a career in biology research where a computational biology project rekindled a lifelong fascination with programming languages. I am interested in opportunities to improve existing codebases, become more adept at scaling apps, and to learn additional languages, both object oriented and functional.
  %section
    %h4
      EXPERIENCE
    .job-title
      Javascript Software Developer
      %span.employer
        Eleven Wireless
    .duration
      January 2016 – Current
    %p.job-description
      My work has included major refactors on a large legacy client-facing website design application (a website that generates websites). I lead on the front-end integration of the Spreeedly API payment system. This work has given me a chance to learn some advanced AngularJS, as well as get my feet wet with Visual Studio, MSSQL, Amazon Web Services, and some domains of computer networking.  I've also been exposed in more depth to an Agile (Scrum) process, which has been very rewarding.
    .job-title
      Rails/Javascript Developer at
      %span.employer
        SimB & Company
    .duration
      October 2015 – Jan 2016
    %p.job-description
      At SimB & Co. I was tasked with building a CRM for a legal recruiting firm on a tight deadline. The application was built in Rails with extensive use of AJAX and included ActionMailer behaviors and a User model with authentication and authorization.

    .job-title
      Development Intern at
      %span.employer
        EyeCue Lab
    .duration
      May 2015 – September 2015
    %p.job-description
      I was responsible for full stack development of an inventory tracking app for a charity kitchen. I built an Angular app on top of a Rails JSON API. The app tracked item expirations, allowed users to compose shopping lists, and produced formatted monthly administrator reports. The app utilized tree data structures, custom JSON serialization, cacheing, and promise handling.

    .job-title
      Student at
      %span.employer
        Epicodus
    .duration
      January 2015 – May 2015
    %p.job-description
      At Epicodus I learned full stack web development with an emphasis on object oriented programming in Javascript and Ruby. I became adept with Sinatra, Rails, Middleman, jQuery, Angular, and Ember. Beyond languages I learned agile development concepts, how to talk about my code with other developers, and the importance of refactoring in maintaining a codebase.

    .job-title
      Research Assistant at
      %span.employer
        Oregon Health & Science University
    .duration
      September 2007 – December 2014
    %p.job-description
      While at OHSU, I built a barcode label based database for organism inventory and lineage tracking using the Filemaker Pro database application. I maintained multiple microscopes and the software packages to operate them. I developed software tools in Python for manipulating and visualizing RNA and DNA sequences. I maintained and programmed aquaria monitoring and alarm systems.

  %section
    %h4
      EDUCATION
    .institute
      Epicodus
    %p.edu-description
      Completion, Web Development, 2015

    .institute
      University of Oregon
    %p.edu-description
      Bachelor's Degree, Molecular Biology with Honors, 2002 - 2006

    .institute
      Independent Coursework, OHSU
    .column-space
      .column
        %p Python
        %p Data Structures
      .column
        %p Informatics Algorithms
        %p Data Analysis
  %section
    %h4
      VOLUNTEERING
    .institute
      HackOregon
    %p.edu-description
      Front End Web Developer, 2015. Built a site to display API data related to educational outcomes for Oregon high school students.

    .institute
      RailsBridgePDX
    %p.edu-description
      Teaching Assistant, 2015. Helping underrepresented populations start to learn the Ruby on Rails framework and build their first applications.

  %section
    %h4
      SKILLS & EXPERTISE
    .column-space
      .mini-column
        %p Git
        %p Javascript
        %p Ruby
        %p Python
        %p SQL
      .mini-column
        %p LINUX
        %p Node
        %p Rails
        %p Sinatra
        %p Middleman
      .mini-column
        %p jQuery
        %p AngularJS
        %p Ember.js
        %p CSS3
        %p Haml
      .mini-column
        %p Bootstrap
        %p Foundation
        %p Sass
        %p Bourbon
        %p RSpec
      .mini-column
        %p Cucumber
        %p Capybara
        %p Mocha
        %p TravisCI
        %p Docker
      .mini-column
        %p PostgreSQL
        %p MSSQL
  %section
    %h4
      LINKS
    .column-space
      .mini-column
        %a{:href => "http://gabefinch.github.io/home"}
          Homepage
      .mini-column
        %a{:href => "http://www.github.com/gabefinch"}
          Github
      .mini-column
        %a{:href => "http://www.linkedin.com/in/gabefinch"}
          Linked-In
      .mini-column
        %a{:href => "http://codepen.io/gabefinch/"}
          Codepen
  %section
    %h4
      REFERENCES
    .institute
      Simeon Bateman
    %p.edu-description
      Owner at SimB & Company, (503)716-8627, simeon@simb.co
    .institute
      Rick Hou
    %p.edu-description
      Founder at Eyecue Labs,(806) 886-3442, rick.hou@eyecuelab.com
    .institute
      Aufrey Srugham
    %p.edu-description
      Career Counselor at Epicodus, audrey@epicodus.com
    .institute
      Teresa Nicolson
    %p.edu-description
      Professor at OHSU, (503) 494-2928, nicolsont@ohsu.edu


  .footer
    %hr
    %p
      %a{:href => "mailto:gabefinch@gmail.com?Subject=Resume"}
        gabefinch@gmail.com
    %p
      %a{:href => "assets/images/g_finch_resume.pdf"}
        PDF version
