---
title: Playing with Bitters, Bourbon, Neat, Seconds, Haml etc.
---

.cards
  .card
    .card-image
      %img{:src => "assets/images/output.jpg", :alt => ""}
    .card-header
      First Card
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.

  .card
    .card-image
      %img{:src => "assets/images/ibm370168_operator.jpeg", :alt => ""}
    .card-header
      Another Card
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.

  .card
    .card-image
      %img{:src => "assets/images/lady_of_the_spools.jpeg", :alt => ""}
    .card-header
      The Last Card
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

  .card
    .card-image
      %img{:src => "assets/images/gabe2.png", :alt => ""}
    .card-header
      One More Card
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.

  .card
    .card-image
      %img{:src => "assets/images/gabe2.png", :alt => ""}
    .card-header
      One More Card
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
